<div class="container">
    <div class="col-md-12 mt-3 mb-3">
        <div class="m-auto d-flex">
            <input type="text" [(ngModel)]="filterColor">
            <button class="btn btn-primary ms-2" (click)="getMatchedData()">Search</button>
            <!-- <button class="btn btn-primary ms-2" (click)="getAllColors()">All colors</button> -->
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true,  "itemSelector": ".col" }'>
        <div class="col" *ngFor="let color of colorList">
            <div class="card" [style.backgroundColor]="color.hex">
                <div class="card-body">
                    <h5 class="card-title">{{color.name}}</h5>
                    <p class="card-text">{{color.hex}}</p>
                </div>
            </div>
        </div>
    </div>
</div>